:root {
	--color-base: #49331B;
	--color-base-secondary: #3d2a14;
	--color-base-border: #F6E4CD;

	--color-accent: #2e4ff1;
	--color-accent-border: #2641c9;
	--color-accent-shadow: #2036a3;
	--color-accent-text: white;
}